Source: alsa-midi-latency-test
Section: sound
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper-compat (= 13), libtool, autotools-dev, automake, libasound2-dev (>= 1.2.11), dh-autoreconf, autopoint
Standards-Version: 4.7.0
Homepage: https://github.com/koppi/alsa-midi-latency-test
Vcs-Git: https://github.com/koppi/alsa-midi-latency-test.git
Vcs-Browser: https://github.com/koppi/alsa-midi-latency-test
Rules-Requires-Root: no

Package: alsa-midi-latency-test
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Utility for measuring ALSA midi latency
 Included tools
  - alsa-midi-latency-test: utility for measuring ALSA midi latency
 .
 ALSA is the Advanced Linux Sound Architecture.
