Source: alsa-midi-latency-test
Section: sound
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Uploaders: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), autotools-dev, automake, libasound2-dev (>= 1.0.13)
Standards-Version: 3.7.3
Homepage: http://github.com/koppi/alsa-midi-latency-test/

Package: alsa-midi-latency-test
Architecture: any
Depends: ${shlibs:Depends}, pciutils (>=1:2.1.11-4), lsb-base (>= 3.0-9), linux-sound-base (>= 1.0.15-1)
Recommends: alsa-base (>= 1.0.15-1)
Conflicts: udev (<< 0.060), alsa-base (<< 1.0.9b-3)
Description: ALSA midi latency test
 This package contains a command-line utility for measuring ALSA midi latency.
 .
 ALSA is the Advanced Linux Sound Architecture.
